# Dependencies
node_modules

# Ignore built ts and vue files
dist/**/*
server/dist/**/*
client/dist/**/*

# Env
.env

# OS/IDE
.vscode
.DS_Store

# Misc.
lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.swp
*.rest
punkgauth/**/*