# Dependencies
node_modules

# Ignore built ts and vue files
dist/**/*
server/dist/**/*
client/dist/**/*

# Env
.env

# OS/IDE/LANG
.vscode
.DS_Store
__pycache__

# Misc.
lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.swp
*.rest
punkgauth/**/*

# Brownie
.history
.hypothesis/
build/
reports/